@tailwind base;
@tailwind components;
@tailwind utilities;

 
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);

}

/* .fun-bg {
  background-color: #10439f;
background: radial-gradient(at 98.0603448275862% 1.875%, #06007f 0px, transparent 50%), radial-gradient(at 20.79741379310345% 11.875%, #530441 0px, transparent 50%), radial-gradient(at 100% 100%, #804040 0px, transparent 50%), #09203f;
position: relative;
z-index: 0;
} */
.fun-bg > * {
  position: relative;
  z-index: 2;
}
.squares-bg {
  background-color: #10439f;
  background: radial-gradient(at 98.0603448275862% 1.875%, #06007f 0px, transparent 50%), radial-gradient(at 20.79741379310345% 11.875%, #530441 0px, transparent 50%), radial-gradient(at 100% 100%, #804040 0px, transparent 50%), #09203f;
  position: relative;
  z-index: 0;
}
.squares-bg::before {
  content: ""; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* Keep it below child elements */
  opacity: 0.8;
  background-image:  linear-gradient(#444cf7 1px, transparent 1px), linear-gradient(to right, #444cf7 1px, transparent  1px);
  background-size: 20px 20px;
  pointer-events: none; 
}
/* .squares-bg > * {
  position: relative;
  z-index: 4;
  opacity: 1;
} */

.video-responsive {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.soundCloud {
  overflow-y: scroll;
}
.yt-video img {
  border-radius: 15px;
  margin-top: 1rem;
}
a.btn:hover {
  border-radius: 0px;
  transition-property: border-radius;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}
@layer base {
  html {
    font-family: "Raleway", sans-serif;
    color: var(--foreground);
  }

}